<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contáctanos</title>
    <link rel="icon" type="image/png" href="../../assets/imagenes/Logo.jpg">
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/contactanos.css" rel="stylesheet">
</head>

<body class="body">
    <header>
        <nav>
            <div class="bloque">
                <img src="../../assets/imagenes/Logo.jpg" alt="Logo Empanadas la Económica">
                <div class="text-logo">
                    <h1>Empanadas La Económica</h1>
                    <p>Sabor casero, precio justo.</p>
                </div>
            </div>
            <div class="bloque">
                <a href="index.html" class="btn-primary">Inicio</a>
                <a href="nosotros.html" class="btn-primary">Sobre Nosotros</a>
                <a href="contactanos.html" class="btn-primary">Contáctanos</a>
            </div>
            <div class="bloque">
                <a href="registrate.html" class="btn-secondary">Regístrate</a>
                <a href="sesion.html" class="btn-secondary">Inicia Sesión</a>
            </div>
        </nav>
    </header>

    <main class="items-center">
        <form action="Inicio.html" class="form-contact">
            <div class="formulario-registro">
                <div class="flex-column">
                    <label for="first-name">Nombre completo</label>
                    <input type="text" class="login-input" id="first-name" pattern="[A-Za-zÁÉÍÓÚáéíóúÑñ ]+" placeholder="Ingrese su nombre completo"
                        title="Caracter no permitido" required>
                </div>

                <div class="flex-column">
                    <label for="email">Correo</label>
                    <input type="email" class="login-input" id="email" placeholder="Ingrese su correo electronico" required>
                </div>

                <div class="flex-column">
                    <label for="mensaje">mensaje</label>
                    <textarea type="mensaje" id="mensaje" cols="10" rows="5" placeholder="Ingresa el mensaje" required></textarea>
                </div>

            </div>
            <div class="container-btn-submit">
                <button type="submit" class="login-button">Enviar</button>
            </div>
        </form>
    </main>
    <footer>
        © 2025  Empanadas la Económica — Todos los derechos reservados
    </footer>
</body>

</html>