<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empanadas La Económica</title>
    <link rel="icon" type="image/png" href="../../assets/imagenes/Logo.jpg">
    <link href="../css/style.css" rel="stylesheet">
</head>

<body class="body">
    <header>
        <nav>
            <div class="bloque">
                <img src="../../assets/imagenes/Logo.jpg" alt="Logo Empanadas la Económica">
                <div class="text-logo">
                    <h1>Empanadas La Económica</h1>
                    <p>Sabor casero, precio justo.</p>
                </div>
            </div>
            <div class="bloque">
                <a href="index.html" class="btn-primary">Inicio</a>
                <a href="nosotros.html" class="btn-primary">Sobre Nosotros</a>
                <a href="contactanos.html" class="btn-primary">Contáctanos</a>
            </div>
            <div class="bloque">
                <a href="registrate.html" class="btn-secondary">Regístrate</a>
                <a href="sesion.html" class="btn-secondary">Inicia Sesión</a>
            </div>
        </nav>
    </header>

    <main class="main-layout">
        <aside class="divleft">
            <p>Empanadas que te hacen querer otra al instante</p>
            <div class="bloqueseis">
                <img src="../../assets/imagenes/empanadas.jpg">
            </div>
        </aside>
        <div class="divcenter">
            <p>Empanadas La Económica es un emprendimiento colombiano que ofrece el auténtico sabor de la comida casera.
                Nos especializamos en empanadas frescas, doradas y llenas de sabor, elaboradas con ingredientes de
                calidad y a un precio justo.
                Cada bocado refleja nuestra esencia: tradición, sabor y economía para todos.</p>
            <div class="bloquetwo">
                <img src="../../assets/imagenes/imagen_restaurante.png" alt="Imagen restaurante">
            </div>
        </div>
    </main>
    <footer>
        © 2025  Empanadas la Económica — Todos los derechos reservados
    </footer>
</body>

</html>