<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empanadas La Económica</title>
    <link rel="icon" type="image/png" href="../../assets/imagenes/Logo.jpg">
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/menu.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body class="body">
    <header>
        <nav>
            <div class="bloque">
                <img src="../../assets/imagenes/Logo.jpg" alt="Logo Empanadas la Económica">
                <div class="text-logo">
                    <h1>Empanadas La Económica</h1>
                    <p>Sabor casero, precio justo.</p>
                </div>
            </div>
            
            <div class="bloque">
                <a href="index.html" class="btn-secondary">Cerrar sesión</a>
            </div>
        </nav>
    </header>

    <main class="main-layout">
        <section class="main-container-menu">
            <div class="card-menu">
                <img src="../../assets/imagenes/empanas menu.jpg" alt="Empanada">
                <div class="description-menu">
                    <div class="space-between">
                        <div>
                            <span>Empanada</span>
                        </div>
                        <div>
                            <span>$1000</span>
                        </div>
                    </div>
                    <p>Ofrecemos empanadas de arroz con carne, papa con carne y pollo con carne. Gracias a su alta rotación, se mantienen siempre calientes y en preparación constante para garantizar frescura y disponibilidad.</p>
                    <div>
                        <button class="btn-comprar"><i class="fa-solid fa-plus"></i> Comprar</button>
                    </div>
                </div>
            </div>

            <div class="card-menu">
                <img src="../../assets/imagenes/Arepa menu.avif" alt="">
                <div class="description-menu">
                    <div class="space-between">
                        <div>
                            <span>Arepa de huevo</span>
                        </div>
                        <div>
                            <span>$3000</span>
                        </div>
                    </div>
                    <p>Nuestra arepa de huevo se prepara al momento, con masa doradita y un huevo fresco en su interior. Sale de la cocina siempre en su punto, lista para disfrutar.</p>
                    <div>
                        <button class="btn-comprar"><i class="fa-solid fa-plus"></i> Comprar</button>
                    </div>
                </div>
            </div>

            <div class="card-menu">
                <img src="../../assets/imagenes/Tamal menu.jpg" alt="">
                <div class="description-menu">
                    <div class="space-between">
                        <div>
                            <span>Tamal</span>
                        </div>
                        <div>
                            <span>$6000</span>
                        </div>
                    </div>
                    <p>Nuestro tamal, hecho con masa de maíz, arroz, carnes y verduras, se mantiene siempre calientico porque está en preparación continua durante el día.</p>
                    <div>
                        <button class="btn-comprar"><i class="fa-solid fa-plus"></i> Comprar</button>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        © 2025  Empanadas la Económica — Todos los derechos reservados
    </footer>

</body>
</html>