:root {
    --naranja: #e27c1e;
    --rojo: #C0392B;
    --blanco: #fff5e1;
    --marron: #4b2e05;
    --morado: #a150b1;
    --negro: #000000;
}

.items-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

label{
    color: #ffffff;
}

form{
    gap: 30px;
    background-color: var(--naranja);
    padding: 20px 60px;
    border-radius: 15px;
    margin-top: 50px;
}

.flex-column {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

input, select{
    border-radius: 8px;
    padding: 10px;
    border: 1px solid #ff0000;
}

.formulario-registro{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.login-button{
    background-color: var(--marron);
    padding: 6px;
    border-radius: 6px;
    color: #ffff;
    text-align: center;
    cursor: pointer;
    transition: all ease-in 0.2s;
}

.login-button:hover{
    transform: scale(1.02);
}

.container-btn-submit{
    margin-top: 15px;
    width: 100%;
    text-align: center;
}

.container-btn-submit button{
    width: 50%;
}
footer {
    background-color: var(--naranja);
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 400px;
}

.mensaje-alerta {
    position: fixed;
    top: 30px;
    right: 30px;
    z-index: 9999;

    padding: 15px 22px;
    border-radius: 10px;

    background-color: #dc3545;
    color: white;

    font-size: 16px;
    font-weight: 600;

    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);

    opacity: 0;
    transform: translateX(120%);

    transition: all 0.4s ease;
}

.mensaje-alerta.mostrar {
    opacity: 1;
    transform: translateX(0);
}